{% extends 'base.html' %}

{% block content %}

<h1> {{ taz.name }}</h1>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{ taz.image }} class="img-fluid rounded-start" alt={{ taz.name }}>
      </div>
      
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{ taz.name }}</h3>
          <p class="card-text">Sex: {{ taz.sex }}</p>
          <p class="card-text">Location: {{ taz.location }}</p>
          {% if taz.age > 0 %}
            <p class="card-text">Age: {{ taz.age }}</p>
          {% else %}
            
            {% if 0 > taz.age %}
            <p class="card-text">Age: Unknown(wild)</p>
          {% else %}
            <p class="card-text">Age: Newborn</p>
            {% endif %}
                
          {% endif %}
          <p class="card-text">Note: {{ taz.note }}</p>

          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">Last seen xxxxxx </small></p>
        </div>
      </div>
    </div>
  </div>



<br><br>
{% endblock content %}
