{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}



<br>
<div class="row g-0">
  <div class="col-8">
    <div class="card mb-3 mx-2" style="max-width: 540px;" >
      <div class="row g-0">
        <div class="col-12">
          <div class="card-body">
            <div class="clearfix">
              
              {% if taz.image %}
                <img src={{ taz.image.url }} class="col-md-6 float-md-end mb-3 ms-md-3" alt={{ taz.name }}>
              {% else %}
          
                {% if taz.sex == 'Male' %}
                  <img src="../../static/images/male_taz.png" class="col-md-6 float-md-end mb-3 ms-md-3"alt={{ taz.name }}>
      
                {% else %}
                  <img src="../../static/images/female_taz.webp" class="col-md-6 float-md-end mb-3 ms-md-3" alt={{ taz.name }}>
      
                {% endif %}
              
              {% endif %}
                
              <h3 class="card-title">{{ taz.name }}</h3>
              <p class="card-text">Sex: {{ taz.sex }}</p>
              <p class="card-text">Location: {{ taz.location }}</p>
              {% if taz.age > 0 %}
                <p class="card-text">Age: {{ taz.age }}</p>
              {% else %}
                
                {% if 0 > taz.age %}
                <p class="card-text">Age: Unknown(wild)</p>
              {% else %}
                <p class="card-text">Age: Newborn</p>
                {% endif %}
                    
              {% endif %}
              <p class="card-text">Note: {{ taz.note }}</p>
    
              <p class="card-text"></p>
              <p class="card-text"><small class="text-muted">Last seen xxxxxx </small></p>
            </div>
          </div>
          <div class="card-footer">
            
                <a href="{% url 'tazs_update' taz.id %}" class="btn btn-secondary" role="button">Edit</a>
                <a href="{% url 'tazs_delete' taz.id %}" class="btn btn-danger" role="button">Delete</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-4">
  <form action="{% url 'add_feeding' taz.id %}" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Add Feeding">
    {% crispy feeding_form %}
  </form>

    
    <table class="table table-striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in taz.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
<hr>
<div class="row g-0">
  <div class="col-6">
    <span class="bg-warning">
      <h3 class="text-center">{{ taz.name }}'s Restrictions</h3>
    </span>

    {% if taz.restrictions.count %}
      {% for restriction in taz.restrictions.all %}
        <div class="card mb-3 mx-2" style="max-width: 540px;" >
          <div class="row g-0">
            <div class="col-12">
              <div class="card-header">
                <h3 class="card-title text-dark">{{ restriction.name }}</h3>
              </div>
              <div class="card-body">
                <div class="clearfix">
                  <p class="card-text">Category: {{ restriction.get_category_display }}</p>
                  <p class="card-text">Description: {{ restriction.description }}</p>
                </div>
              </div>
              <!-- <div class="card-footer">
                <a href="{% url 'restrictions_update' restriction.id %}" class="btn btn-secondary" role="button">Edit</a>
                <a href="{% url 'restrictions_delete' restriction.id %}" class="btn btn-danger" role="button">Delete</a>
              </div> -->
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No restrictions </h5>
    {% endif %}
  </div>
  <div class="col-6">

    <h3 class="text-center">Available Restrictions</h3>
    {% if taz.restrictions.count %}
      {% for restriction in restrictions.all %}
        <div class="card mb-3 mx-2">
          <div class="card-header">
            <h3 class="card-title text-dark">{{ restriction.name }}</h3>
          </div>
          <div class="card-body">
            <div class="clearfix">
              <p class="card-text">Category: {{ restriction.get_category_display }}</p>
              <p class="card-text">Description: {{ restriction.description }}</p>
            </div>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_restriction' taz.id restriction.id %}" method="post">
              {% csrf_token %}
              <div class="d-grid gap-2 col-8 mx-auto">
                <button type="submit" class="btn btn-success">Add</button>
              </div>
                
              
            </form>
          </div>

        </div>
      {% endfor %}
    {% else %}
      <h5>No restrictions </h5>
    {% endif %}
  </div>
  <!-- Available restrictions will come after this line -->
</div>
  


<br><br>
{% endblock content %}
